<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>

<body class="grey-bg">
    <%- include('nav.ejs')%>
    
    <form class="form-box" action="/edit/<%=post._id%>" method="post">
        <h4>글 수정</h4>
        <input type="text" name="title" value="<%= post.title%>">
        <input type="text" name="content" value="<%= post.content%>">
        <button type="submit">저장</button>
    </form> 
    
</body>

</html>