<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>

<body class="grey-bg">
    <%- include('nav.ejs')%>
    
    <p>유저 ID : <%=user._id%></p>
    <p>유저 이름 : <%=user.username%></p>


    
    
</body>

</html>