<div class="nav">
    <a class="logo" href="/post/list">Forum</a>
    <% if (user) { %>
        <a href="/post/write">글쓰기</a>
        <a href="/mypage">마이페이지</a>
        <a href="/logout">로그아웃</a>
        <a href="/chat/list">채팅</a>
        <a href="/mypage"><%=user.username%></a>

    <% } else { %>
        <a href="/post/write">글쓰기</a>

        <a href="/login">로그인</a>
        <a href="/register">회원가입</a>
        <a href="/chat/list">채팅</a>
    <% } %>
</div>